<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TheerMyとは</title>
  </head>
  <body>

    <div class="main">
      <div class="about-message">
          <h1>TheerMy</h1>
      </div>
      <div class="about-message2">
          <p>毎日の健康管理をサポートします。</p>
      </div>
    </div>

  </body>
</html>
