<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>体温管理</title>
  </head>
  <body>

    <div class="main">

      <div class="management-message">
          <h1>体温を管理しよう。</h1>
      </div>

      <div class="management-to-index">
          <p><a href="/management/record">【体温を記録する】 ←クリック</a></p>
          <p><a href="/management/index">【体温帳】 ←クリック</a></p>
      </div>

    </div>

  </body>
</html>
