// Place all the styles related to the management controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.return {
  margin: 50px 10px;
}

.index-message {
  font-size: 10px;
}

.record-message {
  font-size: 10px;
}

.record-date {
  margin-bottom: 0px;
}

.record-temperature {
  margin-bottom: 0px;
}

.record-submit {
  margin: 20px 0px;
}
