<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>体温を記録する</title>
  </head>
  <body>

    <div class="main">

      <div class="record-message">
          <h1>体温を記録する</h1>
      </div>

      <form class="record-date" action="index.html" method="post">
        <p class="record-date">日付</p>
        <input type="text" name="" value="">

        <p class="record-temperature">体温</p>
        <input type="text" name="" value="">
      </form>

      <input class="record-submit" type="submit" name="" value="記録">

      <div class="return"><a href="/management">【戻る】</a></div>

    </div>

  </body>
</html>
