<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TheerMy</title>
  </head>
  <body>

    <div class="main">
      <div class="top-message">
          <h1>今日も平熱でありますように。</h1>
      </div>
    </div>

    <div class="footer">
      <div class="footer-logo">TheerMy</div>
      <div class="footer-list">
          <ul>
            <li>開発記録</li>
            <li>お問い合わせ</li>
          </ul>
      </div>
    </div>

  </body>
</html>
